.home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    min-height: 650px;
      &-empty  {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        width: 100%;       
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    div {
        margin: auto;
    }
    
    &-container {
        width: 400px;
        input[type=checkbox] {
            margin: 10px;
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
    
    &-box {
        position: relative;
        height: 10rem;
        text-align: center;  
        &-table {
            margin: auto;    
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    margin: auto;
    h1 {
        margin: 10px 20px;
        flex-grow: 1;
    }
    
    button {
        margin: 20px;
        padding: 20px;
        height: 20px;
        width: 100px;
    }
}

@media (max-width: 814px) {

    .home {
        p {
            font-size: 16px;
        }
        
        div {
            margin: 0 auto 30px;
            height: 10rem;
        }
    }

    .header button {
        margin: 20px;
        padding: 20px;
        width: 100px;
        font-size: 12px;
    }
}

@media (max-width: 510px) {

    .header {
        flex-direction: column;
        text-align: center;
        h1 {
            font-size: 25px;
        }

        button {
            margin: 0 10px 20px;
            padding: 20px;
        }
    }

    .home-container {
        width: 300px;
    }
}

@media (max-width: 415px) {

    .home {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 415px) {

    .home-container {
        width: 300px;
    }
}