.footer {
    text-align: center;
    hr {
        margin-top: 20px;
        border: 1px solid rgb(131, 95, 95);
    }

    img {
        padding-top: 20px; 
        max-width: 100px;
        height: 100px;
        border-radius: 5%;
        border-top-left-radius: 45%;
        border-top-right-radius: 0%;
    }

    p {
        padding-bottom: 20px;  
        font-weight: 900; 
    }
}