* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    overflow-y: scroll; 
    font-size: 1.25rem;
}

html, 
body {
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color:#d4b4b4;
}

@media (max-width: 814px) {

    body {
        font-size: 16px;
    }   
}